---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Greetings from '../components/Greetings.astro';
import Experience from '../components/Experience.astro';
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col max:w-screen h-full items-center mt-16 gap-8">
    <Greetings />
    <Experience />
  </main>
</Layout>
