---
const { badgeName } = Astro.props;
---

<div
  class="m-auto h-auto py-1 text-sm px-4 rounded-full border-[1px] bg-[#193A5B] bg-opacity-75 text-green-300 items-center flex justify-center border-black"
>
  <p>{badgeName}</p>
</div>
