<div
  class="w-full xl:w-3/4 flex items-center flex-col h-full text-center xl:text-start gap-y-6"
>
  <div class="flex flex-row w-full items-center justify-center">
    <div class="w-1/2 text-[30px] font-bold"><h2>Contáctame</h2></div>
    <div class="w-80 hidden xl:flex"></div>
  </div>
  <div class="flex flex-col lg:flex-row w-full items-center justify-center">
    <div class="w-1/2 flex gap-x-5 font-bold flex-col lg:flex-row">
      <p>franbenages@outlook.es</p>
      <p>@franbf__</p>
    </div>
    <div class="w-80 hidden xl:flex"></div>
  </div>
</div>
