<div
  class="flex flex-col w-full gap-y-6 xl:w-3/4 h-full items-center text-center xl:text-start"
>
  <div class="flex items-center w-full justify-center">
    <div class="xl:w-1/2 flex">
      <h2 class="font-bold text-[30px]">¿Quieres saber mi experiencia?</h2>
    </div>
    <div class="w-80 hidden xl:flex"></div>
  </div>
  <div class="flex items-center justify-center px-3 xl:px-0">
    <div class="xl:w-1/2 w-full">
      <p>
        <span class="font-bold">Nivel Z:</span> Empresa que se dedica a la creación
        de landing, al posicionamiento web (SEO) y al marketing digital a través
        de campañas en redes sociales. Mis funciones comprendían desde la creación
        de los <span class="font-bold">diseños</span> de las landing web hasta el
        <span class="font-bold"> desarrollo en Wordpress</span> de las mismas.
      </p>
    </div>
    <div class="hidden w-80 xl:flex items-center justify-center">
      <p>2020-2021</p>
    </div>
  </div>
  <div class="flex xl:mt-6 items-center justify-center px-3 xl:px-0">
    <div class="xl:w-1/2 w-full">
      <p>
        <span class="font-bold">Masterly:</span> Masterly es una empresa dedicada
        a la creación y venta de contenido digital para directivos a través de su
        plataforma web, creada desde cero con el framework web <span
          class="font-bold">Laravel</span
        >, usando <span class="font-bold">Livewire</span>
        para el renderizado de datos en frontend sin tener que recargar la página
        constantemente para la actualización.
      </p>
    </div>
    <div class="hidden w-80 xl:flex items-center justify-center">
      <p>2021-2021</p>
    </div>
  </div>
  <div class="flex items-center justify-center xl:mt-6 px-3 xl:px-0">
    <div class="xl:w-1/2 w-full">
      <p>
        <span class="font-bold">García Munté Energía: </span> GME es una distribuidora
        de materias primas energéticas en todo el mundo. Las funciones principales
        que debí comprender fue la del desarrollo de diferentes aplicaciones para
        diferentes logísticas, ya sea desde la carga de material en los almacenes,
        utilizando el framework web <span class="font-bold">Oracle Apex</span>,
        propiedad de la propia Oracle, como el desarrollo de una aplicación
        desde cero que llevaba la logística global de la empresa para la
        distribución de dicho material energético. Creada con el framework web <span
          class="font-bold"
          >Laravel
        </span>y usando
        <span class="font-bold">InertiaJS</span> para poder integrar un frontend
        <span class="font-bold">React</span> al backend PHP y usando diferentes librerías
        de JS adaptadas a React como
        <span class="font-bold">"motion"</span> para animaciones y demás.
      </p>
    </div>
    <div class="hidden w-80 xl:flex items-center justify-center">
      <p>2021-Actual</p>
    </div>
  </div>
</div>
