<div class="xl:w-3/4 w-full px-3 xl:px-0 h-full">
  <div class="flex flex-col xl:flex-row items-center justify-center p-2">
    <div class="rounded-full bg-gray-400 h-80 w-80 xl:hidden block"></div>
    <div class="xl:w-1/2 flex flex-col gap-y-2">
      <h1 class="text-center xl:text-start text-[30px] font-bold">
        Hola, soy Fran Benages
      </h1>
      <h3 class="text-center xl:text-start font-bold text-lg">
        Full Stack Developer
      </h3>
      <p class="text-center xl:text-start">
        Soy un apasionado de la programación que lleva 3 años programando y
        creando aplicaciones a medida para diferentes empresas. Puedo crear
        asombrosas landing page, portfolios y aplicaciones web para todos y cada
        uno de los diferentes casos que propone cada cliente. Además, trabajo
        también en el ámbito de la ciberseguridad.
      </p>
    </div>
    <div class="rounded-full bg-gray-400 h-80 w-80 hidden xl:block"></div>
  </div>
  <div
    class="flex gap-3 w-full px-3 xl:px-0 flex-col xl:flex-row items-center justify-center mt-8"
  >
    <p class="font-bold">Tech Stack:</p>
    <div class="flex gap-2 flex-wrap items-center justify-center">
      <p>React</p>
      <p>Astro</p>
      <p>TailwindCSS</p>
      <p>Laravel</p>
      <p>MySQL</p>
      <p>NodeJS</p>
    </div>
  </div>
</div>
