<div
  class="w-72 h-60 bg-gray-40 flex items-center justify-center bg-gray-300 rounded-lg"
>
  <div class="w-full bg-yellow-300 h-8 flex justify-around opacity-65">
    <div class="h-full w-4 bg-black"></div>
    <div class="h-full w-4 bg-black"></div>
    <div class="h-full w-4 bg-black"></div>
    <div class="h-full w-4 bg-black"></div>
    <div class="h-full w-4 bg-black"></div>
  </div>
  <p class="absolute font-bold text-white text-2xl">UNDER CONSTRUCTION</p>
</div>
